setuptools~=62.0.0
wheel~=0.37.1
versioneer~=0.22
pykeepass~=4.0.1
google-api-python-client~=2.43.0
google-auth-oauthlib~=0.5.1
google-auth-httplib2~=0.1.0
google-auth~=2.6.3
argparse~=1.4.0
SecretStorage~=3.3.1